body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1em;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 2em;
}

header nav ul li {
  margin: 0;
}

header nav a {
  color: #fff;
  text-decoration: none;
  padding: 0.5em 1em;
}

header nav a:hover {
  background-color: #555;
  border-radius: 4px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

#home {
  background-image: linear-gradient(to bottom, #333, #555);
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
}

#get-started-btn {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 12px 24px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
}

#get-started-btn:hover {
  background-color: #45a049;
}

#recommendations {
  padding: 2em;
  width: 100%;
  max-width: 1200px;
}

.toggle-btn {
  background-color: #ccc;
  color: #333;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.toggle-btn.active {
  background-color: #4caf50;
  color: #fff;
}

.toggle-btn:hover {
  background-color: #ddd;
}

.toggle-btn.active:hover {
  background-color: #45a049;
}

button:focus,
a:focus {
  outline: 2px solid #4caf50;
  outline-offset: 2px;
}

#media-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-top: 20px;
}

.media {
  background-color: #f7f7f7;
  padding: 15px;
  border: 1px solid#add;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.media img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.media h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

.media p {
  margin: 5px 0;
  color: #666;
}

#about {
  padding: 2em;
  text-align: center;
  max-width: 800px;
}